body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.15;
  color: #020e44;
  --input-padding-y: .75rem;
  --input-padding-x: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.masthead {
  background-size: cover;
  background-position: center;
}
.masthead-title {
  font-size: 4.875rem;
  color: white;
  font-weight: 700;
  line-height: 1;
}
.text-darkblue{
  color: darkblue;
}
.text-15 {
  font-size: 15px;
  color: inherit;
}
.text-20 {
  font-size: 20px;
  font-weight: 400;
}
.text-25 {
  font-size: 25px;
  font-weight: 500;
}
.text-25-thin {
  font-size: 25px;
  font-weight: 400;
}
.text-36 {
  font-size: 36px;
  font-weight: 600;
}
.text-60 {
  font-size: 60px;
  color: #00262b;
  font-weight: 700;
  line-height: 1;
}
.bg-gray {
  background-color: #eeeff3;
}
.bg-green {
  background-color: rgb(235, 243, 255);
}
.bg-brown{
  background-color: rgb(249, 247, 239);
}
.bg-blue {
  background-color: #00ace4;
}
.text-black-90 {
  color: #454545;
}
.link-hover {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.link-hover:hover{
  color: #454545;
  text-decoration: none;
  box-shadow: 0 2px 4px 2px #707070;
}
.button-hover {
  font-size: 20px;
  color: #454545;
}
.button-hover:hover{
  background-color: rgba(0, 104, 255, 0.4)!important;
}
button[aria-expanded="true"] {
  background: rgba(0, 104, 255, 0.4);
}
div[aria-expanded="true"] {
  background-color: white !important;
  opacity: 1!important;
}
.image-block{
  display: block;
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  opacity: 0.8;
}
.image-hover:hover img{
  opacity: 0.5;
}
.text-inside {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
h1 {
  font-weight: 700;
}
.logo {
  width: 80px;
}
.footter-link{
  color: #454545;
  font-size: 20px;
}
.bg-gradient-primary {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  background-size: cover;
  background-position: fixed;
  height: 100%;
  min-height: 100vh;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 85vh;
  min-height: 550px;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 2rem;
}

.card-signin .card-img-left {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 85%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 10px;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
  margin-bottom: 1px;
}

.form-label-group>input{
  padding: var(--input-padding-y) var(--input-padding-x);
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
.error {
  color: #d46a6a;
  padding-bottom: 5px;
}
.overlay {
  position: relative;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 65px);
  padding-bottom: 8rem;
  background-color:rgba(33, 37, 41, 0.5);
  z-index: 2;
}
.tab-hover {
  font-size: 20px;
  color: #454545;
  border: none;
}
.tab-hover:hover{
  background-color: white!important;
  text-decoration: none;
  opacity: 1!important;
}
.parallelogram {
  position: absolute;
	width: 80px;
	height: 100%;
	transform: skew(-35deg);
	background: #fff;
}
.shadow-right {
  box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.2);
}
.side-bar {
  height: auto;
}
.video-course {
  display: block;
  height: auto;
  border: 2px solid rgba(84, 84, 219, 0.7);
}
.scroll-view {
  overflow-y: scroll;
  height: calc(100vh - 72px);
}
@media screen and (max-width: 576px){
  .text-inside {
    bottom: 10px;
    left: 20px;
  }
  .text-25 {
    font-size: 20px;
  }
  .text-36 {
    font-size: 28px;
  }
  .text-60 {
    font-size: 48px;
  }
  .masthead-title {
    font-size: 4rem;
  }
}

.masthead-subtitle {
  color: white;
  font-size: 28px;
  font-weight: 300;
}
.form-floating {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}
.form-floating > .form-control{
  box-sizing: border-box;
  display: inline-block;
  line-height: 2;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0%;
  padding: 5px;
  font-size: 20px;
}
.form-control:forcus {
  box-shadow: none;
}
